@import "__reset.scss";
@import "__variables.scss";

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: $VeryLightGray;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px 20px 40px;
  background-color: $white;
  box-shadow: 4px 0px 10px 0px rgba(0, 0, 0, 0.65);

  &__catchPhrase {
    font-weight: 900;
    text-align: center;
    font-size: 22px;
  }

  &__darkMode {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 120px;
    cursor: pointer;
  }
}

.main {
  margin: 50px 5% 0px 5%;

  &__back {
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0px 3px 1px 4px rgba(0, 0, 0, 0.71);

    .arrow {
      margin-right: 10px;
    }
  }
}

.countryBlock {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;

  .countryFlag {
    width: 500px;

    &__photo {
      width: 100%;
    }
  }
}

.countryInformations {
  display: flex;
  flex-direction: column;
  width: 750px;

  .row__blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .firstBlock {
      width: 60%;
    }
    .secondBlock {
      margin-top: 45px;
    }
    .firstBlock__title {
      margin-bottom: 20px;
    }

    .firstBlock p,
    .secondBlock p {
      margin-bottom: 12px;
      font-weight: 900;
    }
    .firstBlock span,
    .secondBlock span {
      font-weight: 400;
      margin-left: 6px;
    }
  }


  .thirdBlock {
    margin-top: 80px;
    display: flex; 
    align-items: center;
    flex-wrap: wrap;
  }
}


.secondBlock__languages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.thirdBlock { 
     &__title {
      font-weight: 600;
      margin-right: 10px;
     }
    button {
      margin: 0px 5px; 
      padding: 9px 10px;
      text-align: center;
      cursor: pointer;
      outline: none;
      background-color: #fff;
      border: 1px solid rgb(231, 211, 211);
      box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.20);
    }
}

@import "__queries.scss";
